@import url("https://fonts.googleapis.com/css?family=Thasadith:700");

/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */
:root {
  --languid-lavender: #d5cedd;
  --moonstone-blue: #74b0bc;
  --myrtle-green: #326273;
  --old-burgundy: #3d232c;
  --pale-silver: #ccc5b9;
  --reliable-grey: #f7f6f6;
  --rich-black-fogra29: #041725;
  --space-cadet: #1b374b;
  --tuscany: #c39c93;
  --white: #ffffff;
}

body {
  background: var(--reliable-grey);
  margin: 0;
  font-family: "Thasadith", sans-serif;
}

h1 {
  background: black;
  color: white;
  margin-top: 0;
  text-align: center;
  padding: 1em;
}

.card {
  background: black;
  color: white;
  text-align: center;
}

input[type="submit"] {
  padding: 0.5em;
  background: var(--languid-lavender);
  color: var(--moonstone-blue);
}

input[type="text"] {
  padding: 0.5em;
}

.messages {
  width: 100%;
  height: 200px;
  max-height: 200px;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;

  overflow-y: scroll;
  flex: 1 auto;
}

/* .scoreboard {
  display: flex;
  flex-flow: column nowrap;

  height: 250px;
  max-height: 250px;

  overflow-y: scroll;
  flex: 1 auto;
} */

tr {
  padding: 0.5em;
  color: var(--myrtle-green);
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

table {
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 0.2em;
}

.complete {
  color: var(--pale-silver);
}

.player-array {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-card {
  width: 250px;
  height: 150px;
}

#landing-header {
  padding-top: 40vh;
  position: relative;
  text-align: center;
  z-index: 1;
}

#landing-header h1 {
  color: white;
  margin: 0.5em auto;
}